.task-rejected-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.webexTheme {
  padding: 1rem;
  height: 100%;
  color: var(--mds-color-theme-button-primary-normal);
  background-color: var(--mds-color-theme-inverted-text-primary-normal);
}

// This is just to hide the warning and errors in the sample page
iframe {
  display: none;
}

.widget-checkboxes {
  display: flex;
  width: 44rem;
  flex-direction: row;
}

.accessTokenTheme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.centered-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.station-login {
  margin-bottom: 20px;
}

.box {
  width: 80%;
}