#Runtime data
docs/
dist/
test_results/
build/
fonts/
platforms/
plugins/
coverage/
pids
*.pid
*.seed
*.out
docs/

#Logs and others
*.swp
*.log
*.log.*
logs
log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.node_repl_history
reports/

#IDEs
.project
.settings
.metadata

#Hidden directories
.npm

#OS
.idea
.DS_Store
._*

#Local stuff
*.json
!.vscode/settings.json
.env*
!.env.default
!package.json
!package-lock.json
!tsconfig.json
node_modules/
.yarn/*
!.yarn/releases