{
  "branches": [
    "master",
    {
      "name": "ccwidgets",
      "prerelease": "ccwidgets"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "packages/contact-center/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node ./tooling/src/publish.js ${nextRelease.channel} 1.28.0-ccwidgets.108 "
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "packages/contact-center/CHANGELOG.md",
          "package.json",
          "packages/contact-center/CHANGELOG.md",
          "package.json",
          "packages/contact-center/*/package.json"
        ],
        "message": "chore(release): 1.28.0-ccwidgets.108 [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "tagFormat": "v1.28.0-ccwidgets.108"
}
