{
  "branches": [
    "master",
    {
      "name": "eft-pipeline",
      "prerelease": "eft-pipeline"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node publish.js @webex/cc-store eft-pipeline ${nextRelease.version} ${nextRelease.channel}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node publish.js @webex/cc-station-login eft-pipeline ${nextRelease.version} ${nextRelease.channel}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node publish.js @webex/cc-user-state eft-pipeline ${nextRelease.version} ${nextRelease.channel}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md", 
          "package.json", 
          "packages/contact-center/*/package.json"
        ],
        "message": "chore(release): 1.28.0-eft-pipeline.6 [skip ci]\n\n${nextRelease.notes}",
        "tagFormat": "1.28.0-eft-pipeline.6" 
      }
    ],
    "@semantic-release/github"
  ],
  "tagFormat":"${version}"
} 