.modal {
    width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }

  .modal-content {
    display: flex;
    justify-content: flex-end; // Aligns the button to the right
  }
  
  .modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    margin-top: 0;
  }
  
  #ContinueButton {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
  }
  
  #ContinueButton:hover {
    background-color: #005a9e;
  }
  