#widgets-demo {
  display: flex;
  height: 100%;
  width: 100%;

  .content {
    width: 100%;
    height: 100%;
    padding: 1rem;

    overflow: auto;
  }

  .webex-form {
    margin: 1rem;
  }

  .webex-section {
    background-color: white;
    margin: 1rem 0;
    padding: .5rem 1rem;
    box-shadow: 0 0.0625rem 0.125rem 0 #C6C7CA;
    border-radius: .25rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .fluid-height {
    flex: 1;
  }
}
