.box.station-login {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  .section-box {
    padding: 10px;
    border-radius: 8px;
    border: none !important;
  }

  .fieldset {
    border-radius: 5px;
    border: none !important;
    margin-bottom: 0 !important;
  }

  .btn-container {
    padding: 10px;

    button {
      margin-left: auto;
    }
  }

  .modal {
    width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }

  .modal-content {
    display: flex;
    justify-content: flex-end; // Aligns the button to the right
  }

  .modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  h2 {
    margin-top: 0;
  }

  #ContinueButton {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
  }

  #ContinueButton:hover {
    background-color: #005a9e;
  }
}

.select-arrow-icon {
  position: absolute;
  right: 1rem; /* Adjusted to leave space for the arrow icon */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.select-container {
  position: relative;
  width: 100%; /* Ensure the select trigger takes the full width of its parent */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.station-login-select {
  width: 100%;
}

.md-text-input-wrapper .md-text-input-container {
  border: 0.0625rem solid var(--mds-color-theme-outline-input-normal) !important;
}

#agent-login-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.agent-login-popover {
  width: 18.25rem;
  max-height: 10rem;
  flex-shrink: 0;
  fill: var(--color-theme-inverted-background-normal, #000);
  stroke-width: 0.0625rem;
  stroke: var(--color-theme-common-control-share-content-inactive, #707070);
  filter: drop-shadow(0 1.5rem 3rem rgba(0, 0, 0, 0.20));
}