.webex-meeting-widget__body {
  display: flex;
}

.webex-meeting-widget__meeting {
  flex: 1;
}

.webex-meeting-widget__roster {
  width: 20rem;
  padding: 0.625rem;
}

.webex-meeting-widget__controls {
  padding-top: 0.625rem;
}
