.call-control-button {
  --mdc-button-primary-background-color: var(--mds-color-theme-button-secondary-normal);
  --mdc-button-primary-hover-background-color: var(--mds-color-theme-button-secondary-hover);
}

.call-control-button-cancel {
  --mdc-button-primary-background-color: var(--mds-color-theme-button-cancel-normal);
  --mdc-button-primary-hover-background-color: var(--mds-color-theme-button-cancel-hover);
}

.tooltip.md-modal-container-wrapper {
  color: var(--mds-color-theme-inverted-text-primary-normal);
  background-color: var(--mds-color-theme-inverted-background-normal) !important;
}

.tooltip .md-modal-container-arrow-wrapper .md-modal-arrow-svg path {
  fill: var(--mds-color-theme-inverted-background-normal) !important;
}

.call-control-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button-group {
  display: flex;
  gap: 0.5rem; /* Reduced gap between buttons/tooltips */
  margin-top: 1rem;
}

.wrapup-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Reduced gap between select and button */
  margin-top: 1rem;
}

.wrapup-name {
  color: var(--mds-color-theme-text-primary-normal);
}

.wrapup-select {
  flex-grow: 1;
  padding: 0.5rem; // 8px to rem
  margin-top: 0.5rem; // 8px to rem
  margin-bottom: 0.75rem; // 12px to rem
  border: 0.0625rem solid #ccc; // 1px to rem
  border-radius: 0.25rem; // 4px to rem
  align-self: flex-start; // Align similar to .wrapup-header
}

.md-select-dropdown-input {
  flex-grow: 1;
  display: flex; // Ensure it participates in flex layout
  border: 0.0625rem; // 1px to rem
  align-self: flex-start; // Align similar to .wrapup-header
}

.wrapup-select-arrow-icon {
  position: absolute;
  right: 1.5rem; /* Adjusted to leave space for the arrow icon */
  top: 62%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.submit-wrapup-button {
  align-self: flex-end;
}

.wrapup-header {
  align-self: flex-start;
}

.md-select-wrapper {
  display: flex;
  align-items: flex-start; // Align contents to the left
  flex-direction: column; // Ensure vertical alignment
  border: 0;
}

[id*='tippy'] {
  border: 0.0625rem solid var(--mds-color-theme-outline-input-normal); // 1px to rem
  background-color: var(--mds-color-theme-background-glass-overlay-normal);
  border-radius: 0.50rem; // 4px to rem
}

.md-modal-container-arrow-wrapper {
  color: var(--mds-color-theme-outline-input-normal);
  background-color: var(--mds-color-theme-background-glass-overlay-normal);
}