.formControl {
    display: flex;
    width: 100%;
  
    .MuiSelect-root, .MuiOutlinedInput-root {
      border: none;
      box-shadow: none;
    }
  
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  
    .MuiSelect-select:focus {
      background-color: transparent;
      outline: none;
    }
  }
  
  .selectedValueContainer {
    display: flex;
    align-items: center;
  }
  
  .timer {
    margin-left: 5px;
    font-size: 0.8em;
    color: gray;
    margin-top: 2px;
  }
  
  .alert {
    margin-top: 16px;
  }
  
  .elapsedTime {
    position: absolute;
    right: 30px;
    top: 25px;
    color: black; /* Adjust dynamically based on theme if needed */
  }
  
  .elapsedTime-disabled {
    color: #ccc;
  }