.user-state-container {
  position: relative;
  width: 100%; /* Ensure the select trigger takes the full width of its parent */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the elements within the select trigger */
}

.select-trigger .md-select {
  width: 100%; /* Ensure the SelectNext component takes the full width of its parent */
}

.elapsedTime {
  position: absolute;
  right: 2rem; /* Adjusted to leave space for the arrow icon */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
  color: var(--mds-color-theme-text-primary-normal);
  white-space: nowrap; /* Prevent the text from wrapping */
  padding: 0 0.5rem; /* Add some padding */
  border-radius: 0.25rem; /* Add some border radius */
}

.state-name {
  color: var(--mds-color-theme-text-primary-normal);
  &.rona {
    color: var(--mds-color-theme-text-error-normal);
  }

  &.custom {
    color: var(--mds-color-theme-text-warning-normal);
  }
}

.elapsedTime-disabled {
  color: #ccc;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.hide-this {
  display: none;
}

.state-icon {
  --mdc-icon-fill-color: var(--mds-color-theme-indicator-stable);

  &.idle {
    --mdc-icon-fill-color: var(--mds-color-theme-indicator-locked);
  }

  &.rona {
    --mdc-icon-fill-color: var(--mds-color-theme-outline-cancel-normal);
  }

  &.custom {
    --mdc-icon-fill-color: var(--mds-color-theme-text-team-gold-hover);
  }
}

.state-select {
  width: 100%;
  --mds-color-theme-background-primary-active: var(--mds-color-theme-background-alert-success-normal);

  .md-select-dropdown-input {
    background-color: var(--mds-color-theme-background-alert-success-normal);
  }

  &.idle {
    width: 100%;
    --mds-color-theme-background-primary-active: var(--mds-color-theme-background-primary-active);

    .md-select-dropdown-input {
      background-color: var(--mds-color-theme-background-secondary-normal);
    }
  }

  &.rona {
    width: 100%;
    --mds-color-theme-background-primary-active: var(--mds-color-theme-background-alert-error-active);

    .md-select-dropdown-input {
      background-color: var(--mds-color-theme-background-alert-error-normal);
      border: 1px solid var(--mds-color-theme-outline-cancel-normal);
    }
  }

  &.custom {
    width: 100%;
    --mds-color-theme-background-primary-active: var(--mds-color-theme-background-alert-warning-active);

    .md-select-dropdown-input {
      background-color: var(--mds-color-theme-background-alert-warning-normal);
      border: 1px solid var(--mds-color-theme-text-team-gold-hover);
    }
  }

  &.available {
    width: 100%;
    --mds-color-theme-background-primary-active: var(--mds-color-theme-background-alert-success-normal);

    .md-select-dropdown-input {
      background-color: var(--mds-color-theme-background-alert-success-normal);
      border: 1px solid var(--mds-color-theme-outline-join-normal);
    }
  }

  .md-select-popover ul li[data-key^="hide-"] {
    display: none;
  }

.item-container.selected {
  &.available {
    .state-icon {
      --mdc-icon-fill-color: var(--mds-color-theme-outline-join-normal);
    }

    .state-name {
      color: var(--mds-color-theme-outline-join-normal);
    }
  }

  &.idle {
    .state-icon {
      --mdc-icon-fill-color: var(--mds-color-theme-text-primary-normal);
    }

    .state-name {
      color: var(--mds-color-theme-text-primary-normal);
    }
  }
}

}


.select-arrow-icon {
  position: absolute;
  right: 1rem; /* Adjusted to leave space for the arrow icon */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}