.user-state-container {
  position: relative;
  width: 100%; /* Ensure the select trigger takes the full width of its parent */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the elements within the select trigger */
}

.select-trigger .md-select {
  width: 100%; /* Ensure the SelectNext component takes the full width of its parent */
}

.elapsedTime {
  position: absolute;
  right: 2rem; /* Adjusted to leave space for the arrow icon */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
  color: var(--mds-color-theme-text-primary-normal);
  white-space: nowrap; /* Prevent the text from wrapping */
  padding: 0 0.5rem; /* Add some padding */
  border-radius: 0.25rem; /* Add some border radius */
}

.state-name {
  color: var(--mds-color-theme-text-primary-normal);
}

.elapsedTime-disabled {
  color: #ccc;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.state-select {
  width: 100%;
  --mds-color-theme-background-primary-active: var(--mds-color-theme-background-alert-success-normal);

  .state-icon {
    --mdc-icon-fill-color: var(--mds-color-theme-indicator-stable);

    &-idle {
      --mdc-icon-fill-color: var(--mds-color-theme-indicator-locked);
    }
  }
  .md-select-dropdown-input {
    background-color: var(--mds-color-theme-background-alert-success-normal);
    &.md-select-selected {
      .state-icon {
        --mdc-icon-fill-color: var(--mds-color-theme-text-primary-normal);

        &-idle {
          --mdc-icon-fill-color: var(--mds-color-theme-text-primary-normal);
        }
      }
    }
  }

  &-idle {
    width: 100%;
    --mds-color-theme-background-primary-active: var(--mds-color-theme-background-primary-active);

    .state-icon {
      --mdc-icon-fill-color: var(--mds-color-theme-indicator-stable);
  
      &-idle {
        --mdc-icon-fill-color: var(--mds-color-theme-indicator-locked);
      }
    }
    .md-select-dropdown-input {
      background-color: var(--mds-color-theme-background-secondary-normal);
      &.md-select-selected {
        .state-icon {
          --mdc-icon-fill-color: var(--mds-color-theme-text-primary-normal);
  
          &-idle {
            --mdc-icon-fill-color: var(--mds-color-theme-text-primary-normal);
          }
        }
      }
    }
  }
}

.select-arrow-icon {
  position: absolute;
  right: 1rem; /* Adjusted to leave space for the arrow icon */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}