.webex-meetings-widget {
  max-width: 100%;
  min-width: 18.5rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: var(--wxc-text-color);
}

.webex-meetings-widget__content {
  flex: 1;
  min-height: 0;
}

.wxc-meeting-control-bar .wxc-meeting-control-bar__controls--control-refs[aria-hidden="true"] {
  visibility: hidden;
}