.tooltip.md-modal-container-wrapper {
  color: var(--mds-color-theme-inverted-text-primary-normal);
  background-color: var(--mds-color-theme-inverted-background-normal) !important;
}

.tooltip .md-modal-container-arrow-wrapper .md-modal-arrow-svg path {
  fill: var(--mds-color-theme-inverted-background-normal) !important;
}

.call-control-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;

  .md-select-dropdown-input {
    flex-grow: 1;
    display: flex;
    border: 0.0625rem;
    align-self: flex-start;
  }
}

.button-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.wrapup-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.wrapup-name {
  color: var(--mds-color-theme-text-primary-normal);
}

.wrapup-select {
  flex-grow: 1;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  border: 0.0625rem solid var(--mds-color-theme-outline-input-normal);
  border-radius: 0.25rem;
  align-self: flex-start;
  color: var(--mds-color-theme-text-primary-normal);
}

.wrapup-select-arrow-icon {
  position: absolute;
  right: 1.5rem;
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.submit-wrapup-button {
  align-self: flex-end;
}

.wrapup-header {
  margin-bottom: 0.7rem;
  align-self: flex-start;
}

.md-select-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 0;
}

[id*='tippy'] {
  border: 0.0625rem solid var(--mds-color-theme-outline-input-normal);
  background-color: var(--mds-color-theme-background-glass-overlay-normal);
  border-radius: 0.50rem;
}

.md-button-circle-wrapper.call-control-button {
  background-color: var(--mds-color-theme-button-secondary-normal);
  border: 1px solid var(--mds-color-theme-outline-button-normal);
  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-secondary-hover);
  }
}

.md-button-circle-wrapper.call-control-button-cancel {
  background-color: var(--mds-color-theme-button-cancel-normal);
  border: 0.0625rem solid var(--mds-color-theme-background-secondary-normal);
  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-cancel-hover);
  }
}

.call-control-button-icon {
  --mdc-icon-fill-color: var(--mds--color-theme-button-secondary-normal);
}

.wrapup-button {
  display: inline-flex;
  justify-content: center;
  width: 8rem;
  background-color: var(--mds-color-theme-button-secondary-normal);
  border: 0.0625rem solid var(--mds-color-theme-outline-button-normal);
  color: var(--mds-color-theme-text-primary-normal);
  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-secondary-normal);
    color: var(--mds-color-theme-text-primary-normal);
  }
}

.call-control-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--mds-color-theme-background-primary-normal);
  border-radius: 0.5rem;
  box-shadow: var(--mds-shadow-2);
  gap: 1rem;
}

.caller-info {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.call-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mds-color-theme-background-secondary-normal);
  border-radius: 50%;
  margin-top: -0.25rem;
}

.customer-info {
  display: flex;
  flex-direction: column;
}

.customer-id {
  font-size: 1rem;
  font-weight: bold;
  color: var(--mds-color-theme-text-primary-normal);
}

.call-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.call-timer {
  color: var(--mds-color-theme-text-secondary-normal);
  font-size: 0.875rem;
}

.dot {
  color: var(--mds-color-theme-text-secondary-normal);
  font-size: 0.875rem;
  display: none;
}

.cad-variables {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.3rem;

  .queue,
  .phone-number,
  .rona {
    font-size: 1rem;
    color: var(--mds-color-theme-text-primary-normal);

    strong {
      font-weight: bold;
    }

    span {
      font-weight: 250;
    }
  }
}

.md-button-circle-wrapper.call-control-button {
  width: 2rem !important;
  height: 2rem !important;
  min-width: 2rem !important;
  min-height: 2rem !important;
  padding: 0.375rem !important;
  background-color: var(--mds-color-theme-button-secondary-normal);
  border: 1px solid var(--mds-color-theme-outline-button-normal);

  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-secondary-hover);
  }

  .call-control-button-icon {
    --mdc-icon-size: 16px;
    margin: 0;
    width: 1rem;
    height: 1rem;
  }
}

.md-button-circle-wrapper.call-control-button-cancel {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.5rem;
  background-color: var(--mds-color-theme-button-cancel-normal);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.hover {
    background-color: var(--mds-color-theme-button-cancel-hover);
  }

  .call-control-button-icon {
    color: var(--mds-color-theme-text-inverted-primary-normal);
    font-size: 1.5rem;
  }
}

.onhold-chip {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  background-color: #fadd95;
  color: var(--mds-color-theme-text-warning-normal);
  font-size: 0.875rem;
  font-weight: 500;

  .md-icon {
    width: 1rem;
    height: 1rem;
    color: var(--mds-color-theme-text-warning-normal);
  }
}

.recording-indicator {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--mds-color-theme-background-primary-normal);
  box-shadow: var(--mds-shadow-1);
}

.recording-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}